body{
    background-color: rgb(223, 89, 12);
    margin: 0px
 }
 #hersey{
     margin-top:  200px;
     margin-left:  800px;
     color: aliceblue;
     height: 50px;   
 }
 #xet{
     background-color: aliceblue;
     width: 60px;
     height: 4px;
     margin-top: 30px;
     margin-left: 950px;  
 }
 #melumat{
     margin-left: 650px;
     margin-top: 30px;
     margin-bottom: 15px;
     color: rgb(214, 218, 221);
 }
 #basla{
     border-top-left-radius: 80px;
     border-top-right-radius: 80px;
     border-bottom-left-radius: 80px;
     border-bottom-right-radius: 80px;
     width:180px;
     height: 80px;
     margin-left: 892px;
     border:none;
     margin-top:30px;
 }
 #melumat2{
     text-indent: 110px;
 }